
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

.component-container{
	height: 100vh;
	padding: 50px;
}
.navbar{
	background-color: #01233f;
	color: #f5f5f7;
	box-shadow: 0px 0px 25px rgba(0,0,0,1);
}

.top{
	display: none;
	background: #01233f;
	position: fixed;
	padding: 5px;
	color: #f5f5f7;
	bottom: 5%;
	right: 3%;
	text-decoration: none;
	border-radius: 3px;
	opacity: 0.65;
	font-size: 1.8em;

}
.top:hover{
	opacity: 1;
	text-decoration: none;
	background-color: #f5f5f7;
	color: #01233f;
}


/*============================================================== PROJECT*/
#project-container{
	height: 100vh;
	padding: 100px;
	background: url(../images/code3.jpg);
	background-color: #01233f;
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: multiply;
}
#project-container h2{
	text-transform: uppercase;
	color: #f5f5f7;
	/*text-align: center;*/
}
.project{
	height: 60vh;
	padding: 50px 50px 50px 50px;
	color: #f5f5f7;
	box-shadow: 0px 0px 25px rgba(0,0,0,1);
}

.project h4{
	padding-bottom: 25px;
}
.project p{
	padding-bottom: 25px;
}
.project a{
	border-radius: 0px;
	float: right;
	display: inline-block;
    width: 100px;
    height: 40px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.08);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.project a:hover {
    background: #00b0dc;
}

#kuyamis-project{
	background: url(../images/project.jpg);
	background-size: cover; 
	background-position: center;
	background-color: #01233f;
	background-blend-mode: soft-light;
}
#datustore-project{
	background: url(../images/project1.png);
	background-size: cover; 
	background-position: center;
}
#datustore-project a{
	margin-top: 25px;
}
#musixbox-project{
	background: url(../images/project3.jpg);
	background-size: cover; 
	background-position: center;
	background-color: #01233f;
	background-blend-mode: screen;
}
.project-element-row{
	padding: 50px;
}
/*============================================================== ABOUT*/
#about-container{
	background: url(../images/code3.jpg);
	background-color: #01233f;
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: multiply;
	padding-top: 100px;
	position: relative;
}
.about-element{
	/*box-shadow: 0 25px 50px rgba(0,0,0,0.5);*/
	box-shadow: 0px 0px 25px rgba(0,0,0,1);
	background-color: #01233f;
	height: 100%;
	padding: 50px 50px 30px 50px;
	color: #f5f5f7;
}
.about-element-8{
	padding-left: 50px;
	padding-right: 50px;
}
.about-element a{
	display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 34px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.08);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}
.about-element a:hover {
    background: #00b0dc;
}
.about-element h2{
    padding-bottom: 25px;
}

#about-img{
	width: 100%;
	height: 80vh;
	background: url(../images/image4.jpg);
	background-size: cover; 
	background-position: center;
}

#divskills{
	position: absolute;
	left: 0;
	top: 75px;
	z-index: 1000;
	display: none;
	padding-right: 55px;
	padding-left: 65%;
	animation: fade-in 0.3s;
}
#divskills-sub{
	box-shadow: 0px 0px 25px rgba(0,0,0,1);
	background-color: #01233f;
	color: #f5f5f7;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	padding-left: 50px;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#divskills-sub h2{
	border-bottom: 1px solid #f5f5f7;
	margin-bottom: 25px;
}
#divskills-sub label{
	padding: 5px;
}
#divskills-sub div a{
	display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 34px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.08);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    float: right;
}
#divskills-sub div a:hover {
    background: #00b0dc;
}







/*============================================================== LANDING*/
#landing-container{
	background: 
		url(../images/code3.jpg), 
		url(../images/photo6a.jpg);
	background-size: cover; 
	background-color: #01233f;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: overlay;
}
.landing-box{
	padding-top: 150px;
	padding-right: 75px;
	padding-left: 100px;
	color: #f5f5f7;
	text-align: right;
}
.landing-box-sub h1{
	font-size: 90px;
	text-shadow: 
		-8px -8px 12px rgba(255,255,255,0.5),
		8px 8px 12px rgba(0,0,0,1);
}
.landing-box-sub h2{
	font-size: 45px;
	padding-left: 150px;
	/*padding-bottom: 50px;*/
	text-shadow: 
		-8px -8px 12px rgba(255,255,255,0.5),
		8px 8px 12px rgba(0,0,0,0.5);
}

.mouse-scroll {
    position: absolute;
    left: 80%;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 2.5%;
    text-decoration: none;
    overflow: hidden;
}

.mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 60px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #f5f5f7;
    border-radius: 23px;
}

.mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-animation: scroll-ani 2s linear infinite;
    animation: scroll-ani 2s linear infinite;
}
@-webkit-keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}





/*============================================================== CONTACT*/
#contact-container{
	background: url(../images/code3.jpg);
	background-color: #01233f;
	background-size: cover; 
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: multiply;
	padding-top: 125px;
}

.contact-info-col{
	padding: 50px 0 50px 50px;
	background: #01233f;
	color: #f5f5f7;
	box-shadow: 0px 0px 25px rgba(0,0,0,1);
}
.contact-info-col h2{
	color: #f5f5f7;
	text-transform: uppercase;
	padding-bottom: 50px;
}
.contact-info-col p a{
	color: #f5f5f7;
}
.contact-info-col i{
	padding-right: 10px; 
}



/*============================================================== FOOTER*/
#footer-container{
	background: #01233f;
	color: #f5f5f7;
	box-shadow: 0px 0px 25px rgba(0,0,0,1);
	padding-top: 25px;
	padding-left: 100px;
	padding-right: 100px;
}
#footer-container .row .col-lg-4 div{
	font-size: 12px;
}
#footer-container .row .col-lg-4 div a{
	color: #f5f5f7;
}
#footer-container .row .col-lg-4 div i{
	margin-right: 10px;
}
#copyright-col{
	padding-top: 25px;
	text-align: center;
	font-size: 12px;
}
#copyright-col p i{
	margin-right: 5px;
}
#footer-container .row .col-lg-4 p{
	border-bottom: 2px solid #f5f5f7;
}




/*=========================================================================================================================================*/
/*=========================================================================================================================================*/

/* JioPhone 2 */
@media only screen and (max-width: 240px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 10px;
		width: 240px;
	}
	.navbar-brand{
		font-size: 15px;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 25px;
		height: 25px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 15px;
		height: 15px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 150px 30px 30px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 37.5px;
	}
	.landing-box-sub h2{
		font-size: 17.5px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 20px;
	    height: 35px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 25px 15px 25px 15px;
		font-size: 12px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 75px;
	    font-size: 12px;
	    margin-left: 5px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 17.5px;
	}
	#about-img{
		height: 50vh;
	}


	#divskills{
		top: 47.5%;
		display: none;
		padding-right: 25px;
		padding-left: 25px;
	}
	#divskills-sub{
		padding: 15px 15px 80px 15px;
	}

	#divskills-sub h2{
		margin-bottom: 20px;
		font-size: 25px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 75px;
	    font-size: 12px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 65px 15px 50px 15px;
	}
	#project-container h2{
		/*text-align: center;*/
		font-size: 25px;
	}
	.project{
		height: 100%;
		padding: 25px 15px 60px 15px;
		font-size: 12px;
	}
	.project h4{
		padding-bottom: 10px;
		font-size: 17.5px;
	}
	.project p{
		padding-bottom: 0px;
	}
	.project a{
	    width: 75px;
	    font-size: 12px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 15px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 65px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 25px 15px 25px 15px;
		margin-bottom: 0px;
		font-size: 12px;
	}
	.contact-info-col h2{
		font-size: 25px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* Galaxy Fold */
@media only screen and (min-width: 241px) and (max-width: 280px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 10px;
		width: 100%;
	}
	.navbar-brand{
		font-size: 15px;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 25px;
		height: 25px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 15px;
		height: 15px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 150px 30px 30px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 37.5px;
	}
	.landing-box-sub h2{
		font-size: 17.5px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 20px;
	    height: 35px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 25px 15px 25px 15px;
		font-size: 12px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 75px;
	    font-size: 12px;
	    margin-left: 5px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 17.5px;
	}
	#about-img{
		height: 25vh;
	}


	#divskills{
		top: 47.5%;
		display: none;
		padding-right: 25px;
		padding-left: 25px;
	}
	#divskills-sub{
		padding: 15px 15px 80px 15px;
	}

	#divskills-sub h2{
		margin-bottom: 20px;
		font-size: 25px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 75px;
	    font-size: 12px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 65px 15px 50px 15px;
	}
	#project-container h2{
		/*text-align: center;*/
		font-size: 25px;
	}
	.project{
		height: 100%;
		padding: 25px 15px 60px 15px;
		font-size: 12px;
	}
	.project h4{
		padding-bottom: 10px;
		font-size: 17.5px;
	}
	.project p{
		padding-bottom: 0px;
	}
	.project a{
	    width: 75px;
	    font-size: 12px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 15px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 65px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 25px 15px 25px 15px;
		margin-bottom: 0px;
		font-size: 12px;
	}
	.contact-info-col h2{
		font-size: 25px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* Nokia Lumia 520, iPhone 4, iPhone 5/SE */
@media only screen and (min-width: 281px) and (max-width: 320px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 10px;
		width: 100%;
	}
	.navbar-brand{
		font-size: 15px;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 25px;
		height: 25px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 15px;
		height: 15px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 150px 30px 30px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 37.5px;
	}
	.landing-box-sub h2{
		font-size: 17.5px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 20px;
	    height: 35px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 25px 15px 25px 15px;
		font-size: 12px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 75px;
	    font-size: 12px;
	    margin-left: 5px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 17.5px;
	}
	#about-img{
		height: 25vh;
	}


	#divskills{
		top: 47.5%;
		display: none;
		padding-right: 25px;
		padding-left: 25px;
	}
	#divskills-sub{
		padding: 15px 15px 80px 15px;
	}

	#divskills-sub h2{
		margin-bottom: 20px;
		font-size: 25px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 75px;
	    font-size: 12px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 65px 15px 50px 15px;
	}
	#project-container h2{
		/*text-align: center;*/
		font-size: 25px;
	}
	.project{
		height: 100%;
		padding: 25px 15px 60px 15px;
		font-size: 12px;
	}
	.project h4{
		padding-bottom: 10px;
		font-size: 17.5px;
	}
	.project p{
		padding-bottom: 0px;
	}
	.project a{
	    width: 75px;
	    font-size: 12px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 15px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 65px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 25px 15px 25px 15px;
		margin-bottom: 0px;
		font-size: 12px;
	}
	.contact-info-col h2{
		font-size: 25px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* BlackBerry Z30, Galaxy Note 3, Galaxy Note ll, Galaxy S lll, Microsoft Lumia 950, Moto G4, Nexus 5, Galaxy S5*/
@media only screen and (min-width: 321px) and (max-width: 360px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 10px;
		width: 100%;
	}
	.navbar-brand{
		font-size: 15px;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 25px;
		height: 25px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 15px;
		height: 15px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 150px 30px 30px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 37.5px;
	}
	.landing-box-sub h2{
		font-size: 17.5px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 20px;
	    height: 35px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 25px 15px 25px 15px;
		font-size: 12px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 75px;
	    font-size: 12px;
	    margin-left: 5px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 17.5px;
	}
	#about-img{
		height: 25vh;
	}


	#divskills{
		top: 47.5%;
		display: none;
		padding-right: 25px;
		padding-left: 25px;
	}
	#divskills-sub{
		padding: 15px 15px 80px 15px;
	}

	#divskills-sub h2{
		margin-bottom: 20px;
		font-size: 25px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 75px;
	    font-size: 12px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 65px 15px 50px 15px;
	}
	#project-container h2{
		/*text-align: center;*/
		font-size: 25px;
	}
	.project{
		height: 100%;
		padding: 25px 15px 60px 15px;
		font-size: 12px;
	}
	.project h4{
		padding-bottom: 10px;
		font-size: 17.5px;
	}
	.project p{
		padding-bottom: 0px;
	}
	.project a{
	    width: 75px;
	    font-size: 12px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 15px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 65px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 25px 15px 25px 15px;
		margin-bottom: 0px;
		font-size: 12px;
	}
	.contact-info-col h2{
		font-size: 25px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* iPhone 6/7/8, iPhone X */
@media only screen and (min-width: 361px) and (max-width: 375px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 10px;
		width: 100%;
	}
	.navbar-brand{
		font-size: 15px;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 25px;
		height: 25px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 15px;
		height: 15px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 150px 30px 30px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 37.5px;
	}
	.landing-box-sub h2{
		font-size: 17.5px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 20px;
	    height: 35px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 25px 15px 25px 15px;
		font-size: 12px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 75px;
	    font-size: 12px;
	    margin-left: 5px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 17.5px;
	}
	#about-img{
		height: 25vh;
	}


	#divskills{
		top: 47.5%;
		display: none;
		padding-right: 25px;
		padding-left: 25px;
	}
	#divskills-sub{
		padding: 15px 15px 80px 15px;
	}

	#divskills-sub h2{
		margin-bottom: 20px;
		font-size: 25px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 75px;
	    font-size: 12px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 65px 15px 50px 15px;
	}
	#project-container h2{
		/*text-align: center;*/
		font-size: 25px;
	}
	.project{
		height: 100%;
		padding: 25px 15px 60px 15px;
		font-size: 12px;
	}
	.project h4{
		padding-bottom: 10px;
		font-size: 17.5px;
	}
	.project p{
		padding-bottom: 0px;
	}
	.project a{
	    width: 75px;
	    font-size: 12px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 15px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 65px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 25px 15px 25px 15px;
		margin-bottom: 0px;
		font-size: 12px;
	}
	.contact-info-col h2{
		font-size: 25px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* LG Optimus L70, Nexus 4*/
@media only screen and (min-width: 376px) and (max-width: 384px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 10px;
		width: 100%;
	}
	.navbar-brand{
		font-size: 15px;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 25px;
		height: 25px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 15px;
		height: 15px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 150px 30px 30px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 37.5px;
	}
	.landing-box-sub h2{
		font-size: 17.5px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 20px;
	    height: 35px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 25px 15px 25px 15px;
		font-size: 12px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 75px;
	    font-size: 12px;
	    margin-left: 5px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 17.5px;
	}
	#about-img{
		height: 25vh;
	}


	#divskills{
		top: 47.5%;
		display: none;
		padding-right: 25px;
		padding-left: 25px;
	}
	#divskills-sub{
		padding: 15px 15px 80px 15px;
	}

	#divskills-sub h2{
		margin-bottom: 20px;
		font-size: 25px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 75px;
	    font-size: 12px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 65px 15px 50px 15px;
	}
	#project-container h2{
		/*text-align: center;*/
		font-size: 25px;
	}
	.project{
		height: 100%;
		padding: 25px 15px 60px 15px;
		font-size: 12px;
	}
	.project h4{
		padding-bottom: 10px;
		font-size: 17.5px;
	}
	.project p{
		padding-bottom: 0px;
	}
	.project a{
	    width: 75px;
	    font-size: 12px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 15px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 65px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 25px 15px 25px 15px;
		margin-bottom: 0px;
		font-size: 12px;
	}
	.contact-info-col h2{
		font-size: 25px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* Pixel 2, Pixel 2 XL */
@media only screen and (min-width: 385px) and (max-width: 411px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 10px;
		width: 100%;
	}
	.navbar-brand{
		font-size: 15px;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 25px;
		height: 25px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 15px;
		height: 15px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 150px 30px 30px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 37.5px;
	}
	.landing-box-sub h2{
		font-size: 17.5px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 20px;
	    height: 35px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 25px 15px 25px 15px;
		font-size: 12px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 75px;
	    font-size: 12px;
	    margin-left: 5px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 17.5px;
	}
	#about-img{
		height: 25vh;
	}


	#divskills{
		top: 47.5%;
		display: none;
		padding-right: 25px;
		padding-left: 25px;
	}
	#divskills-sub{
		padding: 15px 15px 80px 15px;
	}

	#divskills-sub h2{
		margin-bottom: 20px;
		font-size: 25px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 75px;
	    font-size: 12px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 65px 15px 50px 15px;
	}
	#project-container h2{
		/*text-align: center;*/
		font-size: 25px;
	}
	.project{
		height: 100%;
		padding: 25px 15px 60px 15px;
		font-size: 12px;
	}
	.project h4{
		padding-bottom: 10px;
		font-size: 17.5px;
	}
	.project p{
		padding-bottom: 0px;
	}
	.project a{
	    width: 75px;
	    font-size: 12px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 15px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 65px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 25px 15px 25px 15px;
		margin-bottom: 0px;
		font-size: 12px;
	}
	.contact-info-col h2{
		font-size: 25px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* Nexus 5X, Nexus 6, Nexus 6P */
@media only screen and (min-width: 412px) and (max-width: 412px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 15px;
		width: 100%;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 35px;
		height: 35px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 30px;
		height: 30px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 175px 30px 30px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 50px;
	}
	.landing-box-sub h2{
		font-size: 25px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 40px;
	    height: 55px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 50px 25px 50px 25px;
		font-size: 15px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 95px;
	    font-size: 15px;
	    margin-left: 5px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 25px;
	}
	#about-img{
		height: 35vh;
	}

	#divskills{
		top: 47.5%;
		display: none;
		padding-top: 120px;
		padding-right: 45px;
		padding-left: 45px;
	}
	#divskills-sub{
		padding: 35px 25px 80px 25px;
	}

	#divskills-sub h2{
		margin-bottom: 20px;
		font-size: 25px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 75px;
	    font-size: 15px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 100px 25px 100px 25px;
	}
	#project-container h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.project{
		height: 100%;
		padding: 35px 25px 90px 25px;
		font-size: 15px;
	}
	.project h4{
		padding-bottom: 20px;
		font-size: 20px;
	}
	.project p{
		padding-bottom: 15px;
	}
	.project a{
	    width: 100px;
	    font-size: 15px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 15px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 100px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 35px 20px 35px 20px;
		margin-bottom: 0px;
		font-size: 15px;
	}
	.contact-info-col h2{
		font-size: 25px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}

	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* iPhone 6/7/8 Plus */
@media only screen and (min-width: 413px) and (max-width: 414px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 15px;
		width: 100%;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 35px;
		height: 35px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 30px;
		height: 30px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 175px 30px 30px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 50px;
	}
	.landing-box-sub h2{
		font-size: 25px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 40px;
	    height: 55px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 50px 25px 50px 25px;
		font-size: 15px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 95px;
	    font-size: 15px;
	    margin-left: 5px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 25px;
	}
	#about-img{
		height: 35vh;
	}

	#divskills{
		top: 47.5%;
		display: none;
		padding-top: 120px;
		padding-right: 45px;
		padding-left: 45px;
	}
	#divskills-sub{
		padding: 35px 25px 80px 25px;
	}

	#divskills-sub h2{
		margin-bottom: 20px;
		font-size: 25px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 75px;
	    font-size: 15px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 100px 25px 100px 25px;
	}
	#project-container h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.project{
		height: 100%;
		padding: 35px 25px 90px 25px;
		font-size: 15px;
	}
	.project h4{
		padding-bottom: 20px;
		font-size: 20px;
	}
	.project p{
		padding-bottom: 15px;
	}
	.project a{
	    width: 100px;
	    font-size: 15px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 15px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 100px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 35px 20px 35px 20px;
		margin-bottom: 0px;
		font-size: 15px;
	}
	.contact-info-col h2{
		font-size: 25px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* Nokia N9 */
@media only screen and (min-width: 415px) and (max-width: 480px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 15px;
		width: 100%;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 35px;
		height: 35px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 30px;
		height: 30px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 175px 30px 30px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 50px;
	}
	.landing-box-sub h2{
		font-size: 25px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 40px;
	    height: 55px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 50px 25px 50px 25px;
		font-size: 15px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 95px;
	    font-size: 15px;
	    margin-left: 5px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 25px;
	}
	#about-img{
		height: 35vh;
	}

	#divskills{
		top: 47.5%;
		display: none;
		padding-top: 120px;
		padding-right: 45px;
		padding-left: 45px;
	}
	#divskills-sub{
		padding: 35px 25px 80px 25px;
	}

	#divskills-sub h2{
		margin-bottom: 20px;
		font-size: 25px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 75px;
	    font-size: 15px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 100px 25px 100px 25px;
	}
	#project-container h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.project{
		height: 100%;
		padding: 35px 25px 90px 25px;
		font-size: 15px;
	}
	.project h4{
		padding-bottom: 20px;
		font-size: 20px;
	}
	.project p{
		padding-bottom: 15px;
	}
	.project a{
	    width: 100px;
	    font-size: 15px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 15px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 100px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 35px 20px 35px 20px;
		margin-bottom: 0px;
		font-size: 15px;
	}
	.contact-info-col h2{
		font-size: 25px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 25px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* Surface Duo */
@media only screen and (min-width: 481px) and (max-width: 540px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 15px;
		width: 100%;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 35px;
		height: 35px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 30px;
		height: 30px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 275px 30px 20px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 75px;
	}
	.landing-box-sub h2{
		font-size: 35px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    width: 40px;
	    height: 55px;
	    border: 1px solid #f5f5f7;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 45px;
		padding-right: 45px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 50px 35px 50px 35px;
		font-size: 17.5px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 110px;
	    font-size: 17.5px;
	    margin-left: 5px;
	    margin-top: 50px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 27.5px;
	}
	#about-img{
		height: 45vh;
	}

	#divskills{
		top: 47.5%;
		display: none;
		padding-top: 120px;
		padding-right: 65px;
		padding-left: 65px;
	}
	#divskills-sub{
		padding: 45px 35px 90px 35px;
	}

	#divskills-sub h2{
		margin-bottom: 30px;
		font-size: 27.5px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 110px;
	    font-size: 17.5px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 100px 45px 100px 45px;
	}
	#project-container h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.project{
		height: 100%;
		padding: 45px 35px 90px 35px;
		font-size: 17.5px;
	}
	.project h4{
		padding-bottom: 20px;
		font-size: 22.5px;
	}
	.project p{
		padding-bottom: 15px;
	}
	.project a{
	    width: 100px;
	    font-size: 17.5px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 25px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 100px;
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 45px 30px 45px 30px;
		margin-bottom: 0px;
		font-size: 15px;
	}
	.contact-info-col h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 35px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 35px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* BlackBerry Playbook, Nexus 7 */
@media only screen and (min-width: 541px) and (max-width: 600px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 15px;
		width: 100%;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 35px;
		height: 35px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 30px;
		height: 30px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 275px 30px 20px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.landing-box-sub h1{
		font-size: 85px;
	}
	.landing-box-sub h2{
		font-size: 45px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 45%;
	}
	.mouse-scroll .mouse {
	    /*width: 40px;*/
	    /*height: 55px;*/
	    /*border: 2px solid #f5f5f7;*/
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 45px;
		padding-right: 45px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 50px 35px 50px 35px;
		font-size: 17.5px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 110px;
	    font-size: 17.5px;
	    margin-left: 5px;
	    margin-top: 50px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 27.5px;
	}
	#about-img{
		height: 35vh;
	}

	#divskills{
		top: 47.5%;
		display: none;
		padding-top: 120px;
		padding-right: 65px;
		padding-left: 65px;
	}
	#divskills-sub{
		padding: 45px 35px 90px 35px;
	}

	#divskills-sub h2{
		margin-bottom: 30px;
		font-size: 27.5px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 110px;
	    font-size: 17.5px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 100px 45px 100px 45px;
	}
	#project-container h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.project{
		height: 100%;
		padding: 45px 35px 90px 35px;
		font-size: 17.5px;
	}
	.project h4{
		padding-bottom: 20px;
		font-size: 22.5px;
	}
	.project p{
		padding-bottom: 15px;
	}
	.project a{
	    width: 100px;
	    font-size: 17.5px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 25px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 100px;
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 45px 30px 45px 30px;
		margin-bottom: 0px;
		font-size: 15px;
	}
	.contact-info-col h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 35px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 35px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* Microsoft Lumia 550 */
@media only screen and (min-width: 601px) and (max-width: 640px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		font-size: 15px;
		width: 100%;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 35px;
		height: 35px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 30px;
		height: 30px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 100px 30px 20px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: right;
	}
	.landing-box-sub h1{
		font-size: 50px;
	}
	.landing-box-sub h2{
		font-size: 25px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 75%;
	}
	.mouse-scroll .mouse {
	    /*width: 40px;*/
	    /*height: 55px;*/
	    /*border: 2px solid #f5f5f7;*/
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 65px;
		padding-left: 45px;
		padding-right: 45px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 50px 35px 50px 35px;
		font-size: 17.5px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 110px;
	    font-size: 17.5px;
	    margin-left: 5px;
	    margin-top: 50px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 27.5px;
	}
	#about-img{
		height: 65vh;
	}

	#divskills{
		top: 47.5%;
		display: none;
		padding-top: 90px;
		padding-right: 65px;
		padding-left: 65px;
	}
	#divskills-sub{
		padding: 45px 35px 90px 35px;
	}

	#divskills-sub h2{
		margin-bottom: 30px;
		font-size: 27.5px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 110px;
	    font-size: 17.5px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 100px 45px 100px 45px;
	}
	#project-container h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.project{
		height: 100%;
		padding: 45px 35px 90px 35px;
		font-size: 17.5px;
	}
	.project h4{
		padding-bottom: 20px;
		font-size: 22.5px;
	}
	.project p{
		padding-bottom: 15px;
	}
	.project a{
	    width: 100px;
	    font-size: 17.5px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 25px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 100px;
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 45px 30px 45px 30px;
		margin-bottom: 0px;
		font-size: 15px;
	}
	.contact-info-col h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 35px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 35px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* iPad Mini, iPad */
@media only screen and (min-width: 641px) and (max-width: 768px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		/*font-size: 15px;*/
		width: 100%;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 35px;
		height: 35px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 30px;
		height: 30px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 250px 50px 20px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: right;
	}
	.landing-box-sub h1{
		font-size: 85px;
	}
	.landing-box-sub h2{
		font-size: 45px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 75%;
	}
	.mouse-scroll .mouse {
	    /*width: 40px;*/
	    /*height: 55px;*/
	    /*border: 2px solid #f5f5f7;*/
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 100px;
		padding-left: 45px;
		padding-right: 45px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 50px 35px 50px 35px;
		font-size: 17.5px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 110px;
	    font-size: 17.5px;
	    margin-left: 5px;
	    margin-top: 50px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 27.5px;
	}
	#about-img{
		height: 35vh;
	}

	#divskills{
		top: 47.5%;
		display: none;
		padding-top: 135px;
		padding-right: 70px;
		padding-left: 70px;
	}
	#divskills-sub{
		padding: 50px 50px 100px 50px;
	}

	#divskills-sub h2{
		margin-bottom: 30px;
		font-size: 27.5px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 110px;
	    font-size: 17.5px;
	    margin-top: 25px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 100px 45px 100px 45px;
	}
	#project-container h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.project{
		height: 100%;
		padding: 45px 35px 90px 35px;
		font-size: 17.5px;
	}
	.project h4{
		padding-bottom: 20px;
		font-size: 22.5px;
	}
	.project p{
		padding-bottom: 15px;
	}
	.project a{
	    width: 100px;
	    font-size: 17.5px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 25px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 100px;
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 75px;
	}
	.contact-info-col{
		padding: 45px 30px 45px 30px;
		margin-bottom: 0px;
		font-size: 15px;
	}
	.contact-info-col h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 35px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 35px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* Kindle Fire HDX, Nexus 10 */
@media only screen and (min-width: 769px) and (max-width: 800px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	.navbar{
		/*font-size: 15px;*/
		width: 100%;
	}
	.navbar-toggler {
		border: 0px solid transparent;
		width: 35px;
		height: 35px;
		padding: 0px;
		line-height: 0;
	}
	.navbar-toggler-icon {
		width: 30px;
		height: 30px;
	}
	#navbar-section button:focus {
		outline: none;
	}


	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 375px 60px 10px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: right;
	}
	.landing-box-sub h1{
		font-size: 85px;
	}
	.landing-box-sub h2{
		font-size: 45px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 75%;
	}
	.mouse-scroll .mouse {
	    /*width: 40px;*/
	    /*height: 55px;*/
	    /*border: 2px solid #f5f5f7;*/
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 125px;
		padding-left: 45px;
		padding-right: 45px;
		padding-bottom: 75px;
	}
	.about-element{
		height: 100%;
		padding: 50px 35px 50px 35px;
		font-size: 17.5px;
	}
	.about-element-4{
		padding: 15px;
	}
	.about-element-8{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.about-element a{
	    width: 110px;
	    font-size: 17.5px;
	    margin-left: 5px;
	    margin-top: 50px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	    font-size: 27.5px;
	}
	#about-img{
		height: 35vh;
	}

	#divskills{
		top: 47.5%;
		display: none;
		padding-top: 185px;
		padding-right: 70px;
		padding-left: 70px;
	}
	#divskills-sub{
		padding: 50px 50px 100px 50px;
	}

	#divskills-sub h2{
		margin-bottom: 30px;
		font-size: 27.5px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 110px;
	    font-size: 17.5px;
	    margin-top: 25px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding: 100px 45px 100px 45px;
	}
	#project-container h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.project{
		height: 100%;
		padding: 45px 35px 90px 35px;
		font-size: 17.5px;
	}
	.project h4{
		padding-bottom: 20px;
		font-size: 22.5px;
	}
	.project p{
		padding-bottom: 15px;
	}
	.project a{
	    width: 100px;
	    font-size: 17.5px;
	}
	#datustore-project a{
		margin-top: 0px;
	}
	.project-element-row{
		padding: 0px;
	}
	.project-element-row .col-lg-4{
		margin-bottom: 25px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-top: 100px;
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 100px;
	}
	.contact-info-col{
		padding: 45px 30px 45px 30px;
		margin-bottom: 0px;
		font-size: 15px;
	}
	.contact-info-col h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.contact-info-col i{
		padding-right: 5px;
	}
	
	/*============================================================== FOOTER*/
	#footer-container{
		padding-top: 35px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 35px;
	}

	#footer-container .row .col-lg-4{
		margin-bottom: 25px;
	}
	#footer-container .row .col-lg-4 p{
		border-bottom: 2px solid #f5f5f7;
	}
}


/* iPad Pro */
@media only screen and (min-width: 801px) and (max-width: 1024px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.component-container{
		height: 100%;
	}
	/*============================================================== LANDING*/
	#landing-container{
		width: 100%;
		height: 100vh;
		background: 
			url(../images/code3.jpg), 
			url(../images/photo6a.jpg);
		background-size: cover; 
		background-color: #01233f;
		background-attachment: fixed;
		background-position: center;
		background-blend-mode: overlay;
		padding: 375px 150px 10px 30px;
	}
	.landing-box{
		padding-left: 0px;
		padding-top: 0px;
		text-align: right;
	}
	.landing-box-sub h1{
		font-size: 85px;
	}
	.landing-box-sub h2{
		font-size: 45px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.mouse-scroll {
	    left: 75%;
	}

	/*============================================================== ABOUT*/
	#about-container{
		height: 100%;
		width: 100%;
		padding-top: 150px;
		padding-bottom: 100px;
	}
	.about-element{
		height: 100%;
		font-size: 17.5px;
	}
	.about-element a{
	    margin-top: 50px;
	}
	.about-element p{
		text-align: justify;
		padding-bottom: 15px;
	}
	.about-element h2{
	    padding-bottom: 15px;
	}
	#about-img{
		height: 50vh;
		width: 30vw;
	}
	#divskills{
		top: 42.5%;
	}
	#divskills-sub h2{
		margin-bottom: 30px;
	}
	#divskills-sub label{
		padding: 2.5px;
	}
	#divskills-sub div a{
	    width: 110px;
	    font-size: 17.5px;
	    margin-top: 25px;
	}

	/*============================================================== PROJECT*/
	#project-container{
		height: 100%;
		padding-top: 100px;
		padding-right: 50px;
		padding-left: 50px;
	}
	#project-container h2{
		font-size: 35px;
		padding-bottom: 25px;
	}
	.project{
		height: 100%;
		padding: 45px 35px 90px 35px;
		font-size: 17.5px;
	}
	.project h4{
		padding-bottom: 20px;
		font-size: 22.5px;
	}
	.project p{
		padding-bottom: 15px;
	}
	.project a{
	    width: 100px;
	    font-size: 17.5px;
	}
	.project-element-row{
		padding: 0px;
	}

	/*============================================================== CONTACT*/
	#contact-container{
		height: 100%;
		padding-bottom: 100px;
	}
	/*============================================================== FOOTER*/
	#footer-container{
		padding-left: 25px;
		padding-right: 25px;
	}
}
